---
---
<section id="gal">
  <div style="max-width:1200px;margin:0 auto;">
    <div class="sc rv"><span class="stag">Notre boutique</span><h2 class="stit rv d1">Les couleurs de <em>notre marché</em></h2></div>
    <div class="gg rv d2">
      <div class="gi tall"><img src="/images/659619764_1627440372147566_509725377305574724_n.jpg" alt="Fraises"/><div class="gov"></div></div>
      <div class="gi"><img src="/images/645017626_1597643021793968_5291140161864277214_n.jpg" alt="Tomates"/><div class="gov"></div></div>
      <div class="gi"><img src="/images/608310096_1544681237090147_3339356869474541358_n.jpg" alt="Mangues"/><div class="gov"></div></div>
      <div class="gi wide"><img src="/images/facade_boutique.jpg" alt="Boutique"/><div class="gov"></div></div>
      <div class="gi"><img src="/images/648403337_1603705034521100_2093199613113567926_n.jpg" alt="Légumes"/><div class="gov"></div></div>
      <div class="gi"><img src="/images/636891510_1590461902512080_990918123175545118_n.jpg" alt="Oranges"/><div class="gov"></div></div>
      <div class="gi"><img src="/images/514326506_1386202772937995_8562975972302583186_n.jpg" alt="Abricots"/><div class="gov"></div></div>
      <div class="gi wide"><img src="/images/galerie_oranges.jpg" alt="Oranges en pyramide"/><div class="gov"></div></div>
      <div class="gi tall"><img src="/images/galerie_ananas.jpg" alt="Ananas"/><div class="gov"></div></div>
      <div class="gi"><img src="/images/galerie_avocats.jpg" alt="Avocats"/><div class="gov"></div></div>
      <div class="gi"><img src="/images/galerie_kiwis.jpg" alt="Kiwis"/><div class="gov"></div></div>
      <div class="gi"><img src="/images/galerie_poires.jpg" alt="Poires Conference"/><div class="gov"></div></div>
      <div class="gi"><img src="/images/galerie_fruits_passion.jpg" alt="Fruits de la passion"/><div class="gov"></div></div>
    </div>
  </div>
</section>
