---
---
<section id="hor">
  <svg class="hwt" viewBox="0 0 1440 60" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" style="display:block;width:100%;height:60px;"><path d="M0,30 C360,60 720,0 1080,30 C1260,45 1380,20 1440,30 L1440,0 L0,0 Z" fill="#F9F5EE"/></svg>
  <div class="hi">
    <div>
      <span class="stag rv">Informations pratiques</span>
      <h2 class="stit rv d1">Horaires <em>&amp; Accès</em></h2>
      <table class="htab rv d2">
        <tr><td class="hd">Lundi – Vendredi</td><td class="ht">09h–12h &nbsp;|&nbsp; 14h–19h</td></tr>
        <tr><td class="hd">Samedi</td><td class="ht">09h–12h30 &nbsp;|&nbsp; 14h–19h</td></tr>
        <tr><td class="hd">Dimanche</td><td class="hc">Fermé</td></tr>
      </table>
    </div>
    <div>
      <div class="icards rv d2">
        <div class="icard"><div class="iico"><svg viewBox="0 0 24 24"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/></svg></div><div><div class="ilbl">Adresse</div><div class="ival">323 Route de Vendôme, 41000 Villebarou</div></div></div>
        <div class="icard"><div class="iico"><svg viewBox="0 0 24 24"><path d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"/></svg></div><div><div class="ilbl">Téléphone</div><div class="ival"><a href="tel:0254568736">02 54 56 87 36</a></div></div></div>
        <div class="icard"><div class="iico"><svg viewBox="0 0 24 24"><path d="M18.92 6.01C18.72 5.42 18.16 5 17.5 5h-11c-.66 0-1.21.42-1.42 1.01L3 12v8c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-1h12v1c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-8l-2.08-5.99zM6.5 16c-.83 0-1.5-.67-1.5-1.5S5.67 13 6.5 13s1.5.67 1.5 1.5S7.33 16 6.5 16zm11 0c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zM5 11l1.5-4.5h11L19 11H5z"/></svg></div><div><div class="ilbl">Parking</div><div class="ival">Parking gratuit sur place</div></div></div>
      </div>
      <div class="mapw rv d3"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2678.4!2d1.3198!3d47.6142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDfCsDM2JzUxLjEiTiAxwrAxOScxMS4zIkU!5e0!3m2!1sfr!2sfr!4v1" allowfullscreen loading="lazy" title="Hamdi Prim Villebarou"></iframe></div>
    </div>
  </div>
</section>
