---
---
<nav id="nav">
  <div class="nspacer"></div>
  <a href="#" class="nlogo">
    <div class="nico"><img src="/images/logo.png" alt="Logo Hamdi Prim"/></div>
    <div><div class="nbr">Hamdi Prim'</div><div class="ntag">Votre Marché Frais</div></div>
  </a>
  <ul class="nlinks" id="nl">
    <li><a href="#produits">Produits</a></li>
    <li><a href="#saison">Saison</a></li>
    <li><a href="#gal">Galerie</a></li>
    <li><a href="#avis">Avis</a></li>
    <li><a href="#hor">Horaires</a></li>
    <li><a href="tel:0254568736" class="ncta">Nous appeler</a></li>
  </ul>
  <div class="burger" id="bg" onclick="tm()"><span></span><span></span><span></span></div>
</nav>
