---
---
<section id="produits">
  <div style="max-width:1200px;margin:0 auto;">
    <div class="sc rv"><span class="stag">Notre sélection</span><h2 class="stit rv d1">Tout ce que la nature <em>a de meilleur</em></h2></div>
    <div class="pgrid">
      <div class="pc rv"><div class="piw"><img class="pi" src="/images/fruits2.jpg" alt="Fruits frais"/></div><div class="pb"><div class="pn">Fruits frais</div><div class="pd">Juteux, sucrés, cueillis à maturité. À croquer sans attendre.</div></div></div>
      <div class="pc rv d1"><div class="piw"><img class="pi" src="/images/legumes2.jpg" alt="Légumes frais"/></div><div class="pb"><div class="pn">Légumes frais</div><div class="pd">Fermes et colorés, sélectionnés avec soin pour votre assiette.</div></div></div>
      <div class="pc rv d2"><div class="piw"><img class="pi" src="/images/fruits-secs.jpg" alt="Fruits secs"/></div><div class="pb"><div class="pn">Fruits secs</div><div class="pd">Amandes, figues, abricots, riches en saveurs et parfaits pour grignoter.</div></div></div>
      <div class="pc rv d3"><div class="piw"><img class="pi" src="/images/legumes-secs.jpg" alt="Légumes secs"/></div><div class="pb"><div class="pn">Légumes secs</div><div class="pd">La base de vos meilleures soupes, tajines et couscous.</div></div></div>
      <div class="pc rv d4"><div class="piw"><img class="pi" src="/images/epices.jpg" alt="Épices"/></div><div class="pb"><div class="pn">Épices &amp; Condiments</div><div class="pd">Herbes, condiments et épices pour relever tous vos plats du quotidien.</div></div></div>
    </div>
  </div>
</section>
