---
---
<section id="produits">
  <div style="max-width:1200px;margin:0 auto;">
    <div class="sc rv"><span class="stag">Notre sélection</span><h2 class="stit rv d1">Tout ce que la nature <em>a de meilleur</em></h2></div>
    <div class="pgrid">
      <div class="pc rv"><span class="ptop">Fruits frais</span><div class="piw"><img class="pi" src="/images/636891510_1590461902512080_990918123175545118_n.jpg" alt="Oranges"/></div><div class="pb"><div class="pn">Fruits frais</div><div class="pd">Oranges, mangues, fraises, melons… cueillis à maturité.</div><div class="pf"><span class="pst">★★★★★</span><a href="#hor" class="pl">Voir →</a></div></div></div>
      <div class="pc rv d1"><span class="ptop">Légumes</span><div class="piw"><img class="pi" src="/images/648403337_1603705034521100_2093199613113567926_n.jpg" alt="Légumes"/></div><div class="pb"><div class="pn">Légumes frais</div><div class="pd">Brocolis, tomates, poivrons… croquants et savoureux.</div><div class="pf"><span class="pst">★★★★★</span><a href="#hor" class="pl">Voir →</a></div></div></div>
      <div class="pc rv d2"><span class="ptop">Fruits secs</span><div class="piw"><img class="pi" src="/images/556978010_1464185558473049_2018633458453857409_n.jpg" alt="Fruits secs"/></div><div class="pb"><div class="pn">Fruits secs</div><div class="pd">Amandes, noix, pistaches, châtaignes… en vrac.</div><div class="pf"><span class="pst">★★★★★</span><a href="#hor" class="pl">Voir →</a></div></div></div>
      <div class="pc rv d3"><span class="ptop">Légumes secs</span><div class="piw"><img class="pi" src="/images/629751003_1581082790116658_6717855517928895037_n.jpg" alt="Légumes secs"/></div><div class="pb"><div class="pn">Légumes secs</div><div class="pd">Lentilles, pois chiches, haricots pour vos plats.</div><div class="pf"><span class="pst">★★★★★</span><a href="#hor" class="pl">Voir →</a></div></div></div>
      <div class="pc rv d4"><span class="ptop">Épices</span><div class="piw"><img class="pi" src="/images/645017626_1597643021793968_5291140161864277214_n.jpg" alt="Épices"/></div><div class="pb"><div class="pn">Épices &amp; Condiments</div><div class="pd">Curcuma, paprika, ras-el-hanout, cannelle…</div><div class="pf"><span class="pst">★★★★★</span><a href="#hor" class="pl">Voir →</a></div></div></div>
    </div>
  </div>
</section>
