---
---
<section id="saison">
  <svg class="swt" viewBox="0 0 1440 60" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" style="display:block;width:100%;height:60px;"><path d="M0,30 C360,60 720,0 1080,30 C1260,45 1380,20 1440,30 L1440,0 L0,0 Z" fill="white"/></svg>
  <div class="si2">
    <div class="sc rv"><span class="stag">Avril 2026</span><h2 class="stit rv d1">Les produits <em>de saison</em></h2></div>
    <div class="sgrid">
      <div class="sc2 rv"><div class="siw"><img src="/images/659619764_1627440372147566_509725377305574724_n.jpg" alt="Fraises"/></div><div class="snn">Fraises</div><div class="sty">Fruit</div><span class="sbf">Pleine saison</span></div>
      <div class="sc2 rv d1"><div class="siw"><img src="/images/648403337_1603705034521100_2093199613113567926_n.jpg" alt="Brocolis"/></div><div class="snn">Brocolis</div><div class="sty">Légume</div><span class="sbl">Pleine saison</span></div>
      <div class="sc2 rv d2"><div class="ssvg"><svg viewBox="0 0 60 60"><ellipse cx="30" cy="38" rx="10" ry="14" fill="#FF8C00"/><path d="M30 24 Q28 16 24 12 Q30 14 30 24" fill="#4CAF50"/><path d="M30 24 Q32 16 36 12 Q30 14 30 24" fill="#388E3C"/></svg></div><div class="snn">Carottes</div><div class="sty">Légume</div><span class="sbl">Pleine saison</span></div>
      <div class="sc2 rv d3"><div class="siw"><img src="/images/636891510_1590461902512080_990918123175545118_n.jpg" alt="Oranges"/></div><div class="snn">Oranges</div><div class="sty">Fruit</div><span class="sbf">Pleine saison</span></div>
      <div class="sc2 rv d4"><div class="ssvg"><svg viewBox="0 0 60 60"><ellipse cx="22" cy="32" rx="14" ry="11" fill="#43A047" transform="rotate(-20 22 32)"/><ellipse cx="38" cy="32" rx="14" ry="11" fill="#388E3C" transform="rotate(20 38 32)"/></svg></div><div class="snn">Épinards</div><div class="sty">Légume</div><span class="sbl">Pleine saison</span></div>
      <div class="sc2 rv d5"><div class="siw"><img src="/images/514326506_1386202772937995_8562975972302583186_n.jpg" alt="Abricots"/></div><div class="snn">Abricots</div><div class="sty">Fruit</div><span class="sbf">Début saison</span></div>
    </div>
  </div>
  <svg class="swb" viewBox="0 0 1440 60" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" style="display:block;width:100%;height:60px;"><path d="M0,30 C360,0 720,60 1080,30 C1260,15 1380,40 1440,30 L1440,60 L0,60 Z" fill="#F9F5EE"/></svg>
</section>
