---
---
<div id="sb">
  <div class="sbi">
    <div class="si rv"><div class="sn">25 ans</div><div class="sl">À Villebarou</div></div>
    <div class="si rv d1"><div class="sn">350+</div><div class="sl">Avis positifs Google</div></div>
    <div class="si rv d2"><div class="sn">Frais</div><div class="sl">Arrivages réguliers</div></div>
    <div class="si rv d3"><div class="sn">6j/7</div><div class="sl">Ouvert pour vous</div></div>
  </div>
  <svg viewBox="0 0 1440 60" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" style="position:absolute;bottom:-1px;left:0;width:100%;height:60px;"><path d="M0,30 C360,0 720,60 1080,30 C1260,15 1380,45 1440,30 L1440,60 L0,60 Z" fill="#F9F5EE"/></svg>
</div>
